html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(30,30,30);
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  caption {border:2px solid rgb(30,30,30);
    border-collapse: collapse;
    background-color: rgb(211, 211, 211);
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: bold;
  }
  th[scope="row"] {
    background-color: rgb(211, 211, 211);
}
  td, th {
    border-collapse: collapse;
    border: 2px solid rgb(30,30,30);
    padding: 10px 20px;
  }
  

  td {
    text-align: center;
  }
  
  tbody tr:nth-child(even) td {
    background-color: rgb(107, 240, 143);
  }


  tbody tr:nth-child(odd) td {
    background-color: rgb(161, 217, 230);
  }
  tfoot td {background-color: rgb(249, 249, 249) ;
    font-style: italic;
}
 
